/*test link with colored background*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*background colors*/
.container1 {
    width:100%;
    height:auto;
    background-color: paleturquoise;
}
.img {
    width: auto;
    height: auto;

}

.li {
    padding: 10px;
    margin: 3px;
}

.intro {
    padding: 1em;
    margin: 1em;
    background-color: palegreen;
    border: dashed;
    color: orange;

}

.part1 {
    padding: 1em;
    margin: 1em;
    background-color: skyblue;
    color: black;
}

.cssdef {
    padding: 1em;
    margin: 1em;
    background-color: skyblue;
    color: black;
}